@import 'utils';
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');

body {
    background: $oc-gray-1;
    display: flex;
    justify-content: center;
}
